* {

  // font-family: 'Ubuntu', sans-serif;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    border-radius: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    background-color: #4881F9 !important;
    -moz-background-color: #4881F9 !important;
  }
}

.naira::before {
  content: "\20A6";
  margin-right: 3px;
}


.logo {
  width: 150px;
}

.login-wrapper {
  width: 330px;
}

.form-wrapper {
  padding: 13px 23px;
}

.v-navigation-drawer>.v-list .v-list__tile--active .v-list__tile__title {
  color: #f9ea48;
}

.v-list__tile--active .v-list__tile__action:first-of-type .v-icon {
  color: #f9ea48;
}

.v-btn {
  margin: unset !important;
}

.v-badge__badge {
  height: 15px;
  width: 15px;
}

.smallest {
  font-size: 10px;
}

.my-container {
  max-width: 1160px;
  margin: auto;
}

.cancel-btn {
  margin-left: 10px !important;
  width: 132px;
}

a {
  text-decoration: unset;
}